﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/ipack.css" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <main id="app" role="main">
        @RenderBody()
    </main>
    <script src="~/js/ipack.dll.js"></script>
    <script src="~/js/ipack.js"></script>
</body>
</html>
