<template>
    <div>
        <div>
            <h1>Customer System</h1>
            <table v-if="header === true">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            NAME
                        </th>
                        <th>
                            ROLE
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(customer, index) in customers" :key="index">
                        <td>{{customer.customerId}}</td>
                        <td>{{customer.customerName}}</td>
                        <td>{{customer.customerRole}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <form method="post" v-if="header === true">
                <div>
                    <label>Name</label>
                    <input v-model="newCustomer.customerName" v-validate="'required'" name="Name" />
                    <span class="field-validation-error" v-if="errors.has('Name')">{{errors.first('Name')}}</span>
                </div>
                <div>
                    <label>Role</label>
                    <input v-model="newCustomer.customerRole" v-validate="'required'" name="Role" />
                    <span class="field-validation-error" v-if="errors.has('Role')">{{errors.first('Role')}}</span>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" @click.prevent="addNewCustomer()" v-if="isBusy === false"><fa icon="chevron-up"></fa>Register</button>
                    <button type="button" v-else disabled>
                        <fa icon="spinner" class="fa-spin"></fa>
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { customerServiceSingleton} from '../services/CustomerService';
    import { ICustomerModel } from '../models/ICustomerModel';

    @Component({
        created: async function (this: Home) {
            await this.initialize();
        }
    })
    export default class Home extends Vue {
        newCustomer: ICustomerModel = {};
        header: boolean = true;
        isBusy: boolean = false;
        customerServiceState = customerServiceSingleton;

        async initialize() {
            await this.customerServiceState.GetAllCustomer();
        }
        get customers() {
            return this.customerServiceState.allCustomer;
        }

        async validate() {
            let valid = await this.$validator.validateScopes();

            if (!valid) {
                return false;
            }
            await this.$validator.reset();
            return true;
        }

        async addNewCustomer() {
            this.isBusy = true;
            if (await this.validate() === false) {
                this.isBusy = false;
                return;
            }
            await this.customerServiceState.InsertCustomer(this.newCustomer);
            this.newCustomer = {};
            window.location.href = './';
        }
    }
</script>

